/* start section */
.container {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    width: 30% !important;
    box-sizing: border-box;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title,
.code {
    text-align: center;
}

.Number1,
.Number2,
.Number3,
.Number4 {
    padding: 0 0.5rem;
    display: none;
}

.startBtn {
    background-color: #cadbff;
    border: 1px solid #000;
    width: 100%;
    margin: 5rem 0 0;
    padding: 1rem 0;
}

@media (max-width: 640px) {
    .container {
        width: 100% !important;
        margin: 1rem auto;
    }

    .startBtn {
        margin: 2rem 0 0;
    }
}